<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% if user_logged_in %}



    <h1>Welcome {{name|capitalize}} to your home page</h1>
    <p> The secont item is {{l[1]}}</p>
    <p> he is {{dictname['age']}} years old</p>

    <ol>
        {% for i in l %}
        <li>{{i}}</li>
        {% endfor %}
    </ol>

    {% else %}

    <h1>Please login</h1>

    {% endif %}





    

</body>
</html>